<div class="sidebar h-full gap-5 min-w-52 border-r border-r-vs-black-2 bg-vs-black">
    <div class="[&>*]:px-4 [&>*]:py-2 [&_a]:w-full [&_a]:block">
        <a routerLinkActive="bg-vs-black-2 font-bold" routerLink="/file-manager" [queryParams]="{path: '~/'}">Home</a>
        <a routerLinkActive="bg-vs-black-2 font-bold" routerLink="/file-manager" [queryParams]="{path: '~/Desktop/'}">Desktop</a>
        <a routerLinkActive="bg-vs-black-2 font-bold" routerLink="/file-manager" [queryParams]="{path: '~/Downloads/'}">Downloads</a>
    </div>
</div>